.cover {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/530640869/fr/photo/th%C3%A9%C3%A2tre-vide-chaises.jpg?s=612x612&w=0&k=20&c=gJh9dH_m2LFRlYAg-MQDVoCznnKPZRstGc_vSgyFJzE=);
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
